
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: center;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #272727;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

  #fname, #lname, #subject {
    padding: 12px 0;
  }
